{% extends 'base.html.twig' %}

{% block title %}Burgers avec l'ingrédient "{{ ingredient }}"{% endblock %}

{% block content %}
    
    <h1>Burgers sans l'ingrédient "{{ ingredient }}"</h1>
    {% if burgers is not empty %}
        <ul>
            {% for burger in burgers %}
                <li>
                    {{ burger.name is defined ? burger.name : burger.nom }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun burger trouvé avec cet ingrédient.</p>
    {% endif %}
    <a href="{{ path('burger_liste') }}">Retour à la liste des burgers</a>
    
{% endblock %}