{% extends 'base.html.twig' %}
{% block title %}Créer une image{% endblock %}
{% block content %}
    {% include '_header.html.twig' %}
    <h1>Image créée avec succès !</h1>
    {% include '_footer.html.twig' %}
{% endblock %}
