{% extends 'base.html.twig' %}
{% block title %}Image{% endblock %}
{% block content %}
    {% include '_header.html.twig' %}
    <h1>Image</h1>
    {% if image %}
        <p>
            <img src="{{ image.url }}" alt="Image" />
        </p>
    {% else %}
        <p>Image non trouvée.</p>
    {% endif %}
    {% include '_footer.html.twig' %}
{% endblock %}
