{% extends 'base.html.twig' %}
{% block title %}Commentaire{% endblock %}
{% block body %}
<h1>Commentaire</h1>
{% if commentaire %}
    <p>Nom : {{ commentaire.name }}</p>
{% else %}
    <p>Commentaire non trouvé.</p>
{% endif %}
{% endblock %}
