{% extends 'base.html.twig' %}
{% block title %}Modifier un commentaire{% endblock %}
{% block content %}
    {% include '_header.html.twig' %}
    <h1>Commentaire modifié avec succès !</h1>
    {% include '_footer.html.twig' %}
{% endblock %}
