{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers{% endblock %}

{% block content %}
    
    {% for burger in burgers %}
        <h5 class="card-title">{{ burger.nom }}</h5>
    {% endfor %}
    
{% endblock %}

