{% extends 'base.html.twig' %}

{% block title %}Liste des sauces{% endblock %}

{% block body %}
<h1>Liste des sauces</h1>
<ul>
    {% for sauce in sauces %}
        <li>{{ sauce.name }}</li>
    {% else %}
        <li>Aucune sauce trouvée.</li>
    {% endfor %}
</ul>
    <ul>
        <li>Your controller at <code>C:/Users/Tom/Documents/IUT/A3/S5/progav/src/Controller/SauceController.php</code></li>
        <li>Your template at <code>C:/Users/Tom/Documents/IUT/A3/S5/progav/templates/sauce/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
