{% extends 'base.html.twig' %}
{% block title %}Modifier une sauce{% endblock %}
{% block content %}
    {% include '_header.html.twig' %}
    <h1>Sauce modifiée avec succès !</h1>
    {% include '_footer.html.twig' %}
{% endblock %}
