{% extends 'base.html.twig' %}
{% block title %}Supprimer un pain{% endblock %}
{% block content %}
    {% include '_header.html.twig' %}
    <h1>Pain supprimé avec succès !</h1>
    {% include '_footer.html.twig' %}
{% endblock %}
