{% extends 'base.html.twig' %}

{% block title %}Liste des pains{% endblock %}

{% block content %}
    
    <h1>Liste des pains</h1>
    <ul>
        {% for pain in pains %}
            <li>{{ pain.name }}</li>
        {% else %}
            <li>Aucun pain trouvé.</li>
        {% endfor %}
    </ul>
    <ul>
        <li>Your controller at <code>C:/Users/Tom/Documents/IUT/A3/S5/progav/src/Controller/PainController.php</code></li>
        <li>Your template at <code>C:/Users/Tom/Documents/IUT/A3/S5/progav/templates/pain/index.html.twig</code></li>
    </ul>
    </div>
    
{% endblock %}
