{% extends 'base.html.twig' %}
{% block title %}Pain{% endblock %}
{% block content %}
    
    <h1>Pain</h1>
    {% if pain %}
        <p>Nom : {{ pain.name }}</p>
    {% else %}
        <p>Pain non trouvé.</p>
    {% endif %}
    
{% endblock %}
